{% extends 'base.html' %}

{% block header %}
<h1>Login page</h1>
{% endblock %}

{% block content %}
<hr>
{% for cat, message in get_flashed_messages(True) %}
<p class="{{cat}}">{{ message }}</p>
{% endfor %}

<form action="{{ url_for('login')}}" method="post">
    <p><label>Email:</label> <input type="text" name="email">
    <p><label>Пароль:</label> <input type="password" name="password">
    <p><input type="checkbox" name="rememberme"> Запомнить меня </p>
    <p><input type="submit" value="Войти"></p>
</form>

{% endblock %}